.exo img {
  width: 500px;
}

.exo p {
  margin: 1%;
}

.exo ul li {
  margin: 1%;
}

.tableau_contact li {
  list-style-type: none;
  float: left;
}

.tableau_contact span {
  width: 200px;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

.damier li {
  width: 50px;
  height: 50px;
}

.master div {
  width: 46%;
  float: left;
  border: 20px solid #fff;
  background-color: #98B98B;
}

.master h3 {
  color: #fff;
}

.master p {
  padding: 10;
}

.master img {
  padding: 20px;
  width: 50%;
  float: left;
}
